* {
    font-family: Verdana, Tahoma, sans-serif;
    color: #fff;
}

body {
    background-color: #68aec5;
}

h1 {
    font-family: fantasy;
    margin: 15px;
}

a {
    text-decoration: none;
    font-weight: bold;
    margin: 5px 10px;
    color: white;
}
 
a:hover {
    color: #5f5f5f;
}

header {
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#citations a {
    font-weight: normal;
    text-decoration: underline;
    color: #a000a0;
}

#homeImage {
    border: 2px solid #000;
}

.characterImage {
    border: 2px solid #000;
    height: 200px;
    width: 200px;
}

#characterList {
    list-style-type: none;
}

#characterSeperator {
    width: 50%;
    margin-top: 35px;
}